.mainBody {
    width: 300px;
    border: none;
    border-radius: 3px;
    margin: 0px auto;
    box-shadow: grey 0px 5px 20px;
}

.displayPanel{
    width: 96%;
    height: 50px;
    background-color: black;
    color: white;
    padding: 2%;
    word-break: break-all;
    overflow-x: auto;
    border-radius: 3px 3px 0 0;
}

.row{
    display: inline-block;
    width: 100%;
}

.btn-type1 {
    width: 23%;
    margin: 1%;
}

.btn-type2{
    width: 98%;
    margin: 1%;
}